.caja { 
  display: block;
  background-color: rgb(164, 222, 219);
  border: 6px solid white;
  border-style: double; 
  outline: 1px solid white;
  height: auto; 
  width: 400px;
  margin: auto;
  white-space: pre-wrap;
}
.cajita-titulo {
  display: block;
  background-color: white;
  margin-top: 0px;
  width: 100%;
}
.titulo {
  display: flex;
  justify-content: center;
  font-family: 'Elsie', cursive;
  font-size: 35px;
  color: rgb(164, 222, 219);
  text-align: center;
  overflow: hidden;
  padding: 4px 0px 4px 0px;
  cursor: default;
}
.iconitos {
  color: white;
  position: relative;
  text-align: center;
  top: 25px;
  margin-left: 8px;
  margin-bottom: 20px;
}
.fa-spin-hover:hover {
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}
.detalles {
  display: block;
  width: 80px;
  height: auto;
  color: white;
  font-weight: 600;
  overflow-wrap: break-word;
  cursor: default;
  float: left;
  margin-right: 3px;
  margin-left: 3px;
  position: relative;
  left: 30px;
  top: -10px;
}
.contdet {
  display: block;
  font-size: 15px;
  margin: 2px 2px 2px 2px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 14px;
}
.divider {
  border-top: 2px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 1px;
  width: 90%;
  position: relative;
  top: -10px;
  margin-bottom: 0px;
}
.content {
  display: flex;
  text-align: justify;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 15px;
  color: white;
  overflow: auto;
  padding: 0px 20px 20px 20px;
  position: relative;
  bottom: 8px;
  top: -20px;
}
.fa-brr:hover {
  animation: shake 0.98s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
